@model IEnumerable<EMY.HostManager.Entities.ServerInformation>

@{
    ViewData["Title"] = "Server List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Servers</h1>
@if (User.IsInRole("ServerAdd") || User.IsInRole("AdminFull") || User.IsInRole("ServerFull"))
{
    <p>
        <a asp-action="Create" class="btn btn-sm btn-outline-light border-dark btn-dark">
            <i class="lni lni-circle-plus"></i> Create New
        </a>
    </p>
}

<table class="table table-hover table-responsive-md">
    <thead class="thead-dark">
        <tr>
            <th colspan="8">Server List</th>
        </tr>
        <tr>
            <th>
                <i class="lni lni-line-dashed"></i>
            </th>
            <th>
                Server Name
            </th>
            <th>
                Server Type
            </th>
            <th>
                Adress
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Port)
            </th>
            <th>
                User Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>

            <th style="width:150px;">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerInformationID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServerAdress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Port)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Password))
                        @("".PadLeft(item.Password.Length,'•'))
                </td>
                <td>
                    <div style="display:block;width:80px;">
                        @if (User.IsInRole("ServerUp") || User.IsInRole("AdminFull") || User.IsInRole("ServerFull"))
                        {
                            <a href="/Server/Edit?ServerInformationID=@item.ServerInformationID">
                                <i class="lni lni-slice"></i>
                            </a>
                            @Html.Raw(" | ");
                        }
                        @if (User.IsInRole("ServerShow") || User.IsInRole("AdminFull") || User.IsInRole("ServerFull"))
                        {
                            <a href="/Server/Details?ServerInformationID=@item.ServerInformationID">
                                <i class="lni lni-question-circle"></i>
                            </a>
                            @Html.Raw(" | ");
                        }
                        @if (User.IsInRole("ServerDel") || User.IsInRole("AdminFull") || User.IsInRole("ServerFull"))
                        {
                            <a href="/Server/Delete?ServerInformationID=@item.ServerInformationID">
                                <i class="lni lni-circle-minus"></i>
                            </a>
                        }
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
