@model EMY.HostManager.Entities.Template

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info">
    <h1 class="mt-4">
        @if (Model.TemplateID == 0)
        {
            @Html.Raw("Create")
            ViewData["Title"] = "Create Template";
        }
        else
        {
            @Html.Raw("Edit")
            ViewData["Title"] = "Edit Template";
        }
    </h1>

    <h4>Template Information</h4>
    <hr />
</div>


<div class="alert alert-success">
    <form asp-action="Save">
        @Html.HiddenFor(o => o.TemplateID)
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label asp-for="TemplateName" class="control-label">Template Name</label>
                    <input asp-for="TemplateName" min="3" class="form-control" />
                    <span asp-validation-for="TemplateName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label asp-for="TemplateCode" class="control-label">Template Code</label>
                    <textarea asp-for="TemplateCode" class="form-control" rows="8"></textarea>
                    <span asp-validation-for="TemplateCode" class="text-danger"></span>
                </div>
            </div>

            @if ((bool)ViewBag.Error)
            {
                <hr />
                <div class="alert alert-danger">
                    @Html.Raw(ViewBag.ErrorMessage)
                </div>

            }
            <div class="col-12">
                <div class="form-group">
                    @if (Model.TemplateID == 0)
                    {
                        <button type="submit" class="btn btn-primary"><i class="lni lni-circle-plus"></i> Create</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success"><i class="lni lni-save"></i> Save Changes</button>
                    }
                </div>

            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" class="btn btn-sm btn-secondary"><i class="lni lni-chevron-left-circle"></i> Back to List</a>
</div>

